* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

h1 {
    font-size: 80px;
    font-weight: 500;
}

header {
    background-color: wheat;
    padding: 10px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 8px white ;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
    font-size: large;
}

nav ul li a {
    color: brown;
    text-decoration: none;
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    max-width: 500px;
}

.shop-now {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    height: 60px;;
}

.products {
    text-align: center;
    padding: 50px 0;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product-card {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: wheat;
}

